* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: linear-gradient(to right, #ffc107, #ffca28);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header .topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .esquerda {
  display: flex;
  align-items: center;
  gap: 20px;
}


.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #222;
}


nav.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}

nav.menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #222;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

nav.menu a:hover {
  background-color: #fff3cd;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  gap: 80px;
}

section {
  background-color: white;
  width: 100%;
  max-width: 1100px;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section h2 {
  font-size: 36px;
  color: #ffc107;
  border-bottom: 3px solid #ffca28;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  background-color: #fff8e1;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card span {
  font-size: 40px;
  margin-bottom: 15px;
}

ul {
  padding-left: 25px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  width: 100%; /* ocupa toda a largura */
  background-color: #ffc107;
  padding: 40px 20px;
  max-height: 100vh;
}


.footer-col {
  flex: 1;
  min-width: 250px;
  padding: 0 20px;
}

.footer-col p {
  margin: 6px 0;
}

.footer-col.left {
  text-align: left;
}

.footer-col.center {
  text-align: center;
}

.footer-col.right {
  text-align: right;
}


